<link rel="stylesheet" href="/css/lightbox.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<link rel="alternate"
      type="application/rss+xml"
      href='{{ printf "%s%s" (strings.TrimSuffix "/" .Site.BaseURL ) "/blog/index.xml" }}'
      title="{{ .Site.Title }}"
>
<script>
    lightbox.option({
      'imageFadeDuration': 0,
      'fadeDuration': 0,
      'resizeDuration': 0
    })
</script>
