@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ibmplexmono.ttf) format('truetype');

}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/roboto.ttf) format('truetype');
}

nav, h1, h2, h3, h4, h5, h6 {
        font-family: Roboto;
}

a:active {
    color: blue;
}

nav, aside {
    margin-top: 1em;
    padding-bottom: 1em;
}


span.email b {
    display: none;
}


:is(html[class~="dark"]) a {
    color: #F1F1F1!important;
}

a {
    color: #215CAF!important;
}

:is(html[class~="dark"]) span.email {
    color: #F1F1F1!important;
    text-decoration: underline;
}

h1.text-center {
    text-align: left;
}

span.email {
    color: #215CAF;
}

body {
    scroll-behavior: smooth;
}

img {
    display: inline!important;
    margin: 1em 1em 1em 0em !important;
}

img.hidden {
    display: none!important;
}


.lb-close {
    display: none!important;
}


nav .search-wrapper {
    margin-left: 2em;
}

button.theme-toggle {
    font-size: 100%;
}

.lightbox-thumbnail {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px #eee;
}


a[href^="http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
